@import "tailwindcss";

.range-clean::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}

.range-clean::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}

.range-clean {
  -webkit-appearance: none;
  background-color: #e5e7eb; /* Tailwind's gray-200 */
  height: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
